<h2 class="mb-4">NEED CONSULTATION?</h2>
<p class="text-center">Nutritionists are always ready to help.</p>
<div class="w-100 ps-3 mb-3" style="border-left: 1px solid black;">
    <p>Qualified nutritionists can be hired to improve your current diet. Make your dream goal closure with personalized advices and meal plans.</p>
    <p>Nutritionists undergo a thorough screeing, including testing and interviews before becoming official consultants. This ensures that the delivered programs are professional, effective, and achievable.</p>
</div> 