@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
        
body {
    height: 100vh;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 4rem;
}

.description {
    font-family: "Space Mono", monospace;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-family: "Poppins", sans-serif;

    background-color: #a91e50;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b82d60;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

p {
    font-family: "Lato", sans-serif;
}