@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
        
.holder {
    font-family: "Poppins", sans-serif;
}

i {
    font-size: 28px;
    border-bottom: 1px solid transparent;
}

i:hover{
    cursor: pointer;
    color: blue
}

.selected {
    color: blue;
    border-bottom: 1px solid blue;
}

.img-holder {
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.img-holder p {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.img-holder:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.img-holder:hover p {
    opacity: 1;
    transform: translateY(0px);
}

.enrolment-info {
    display: none;
}